body{
  background-image: url('https://i.ibb.co/21Dcn6F7/file-00000000684071f5bb98c62f17991aa1.png');
  background-position: center;
}
h1{
  font-family: Georgia;
  font-style: italic;
}
p{
  font-style: italic;
  border: solid 5px red;
  color:white;
}
button{
  height: 100px;
  width: 200px;
  background: brown;
  border: solid 5px;
  border-radius: 20px;
}
img{
  border: solid 5px black;
}
a{
  text-decoration: none;
  color: white;
}
h1{
  color: white;
}
h2{
  color: white;
}
.produto {
  border-radius: 100px;
}
.colorCod{
  color: white;
}
