body{
  background-image: url('https://i.ibb.co/wZXGLKP1/file-000000003ec0720e904a0b02130f4ab2.png');
  background-position: center;
}
h1{
  font-family: Georgia;
  font-style: italic;
}
p{
  font-style: italic;
  border: solid 5px red;
  color:white;
}
button{
  height: 100px;
  width: 200px;
  background: brown;
  border: solid 5px;
  border-radius: 20px;
}
img{
  border: solid 5px black;
}
a{
  text-decoration: none;
  color: white;
}
h1{
  color: white;
}
h2{
  color: white;
}
.produto {
  border-radius: 100px;
}
.colorCod{
  color: white;
}
